@import '../../../styles/variables.scss';

.header {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    @media all and (max-width: 550px) {
        flex-direction: column;
      }

   
    &__form {

        display: flex;
        align-items: center;

        &__label {
            position: relative;
        }
        
        &__loader {
            position: absolute;
            right: 10px;
        }

        &__error {
            position: absolute;
            right: 0px;
            bottom: -10px;
            color: red;

            @media all and (max-width: 550px) {
                display: flex;
                width: 100%;
                justify-content: center;
              }
        }

        &__input {
            padding: 5px;
            border-radius: 8px;
            border: 2px solid rgba(71, 147, 255, 0.8);
            margin-right: 8px;

            &:active,
            &:focus {
                outline: none;
                border-color: #006aff;
            }
        }

        &__btn {
            padding: 5px 7px;
            background-color: rgba(71, 147, 255, 0.2);
            border-radius: 8px ;
            cursor: pointer;
            border: 2px solid rgba(71, 147, 255, 0.8);
            font-weight: 500;

            &:hover{
                background-color: rgba(71, 147, 255, 0.4);
                border-color: #006aff;
            }
        }
    }

    &__wrapper {
        display: flex;
        align-items: center;
        width: fit-content;
        padding: 10px 0;

        &_right{
            display: flex;
            flex-direction: column-reverse;
            position: relative;

            &__bottom{
                display: flex;
                align-items: center;
            }

            &__top {
                display: flex;
                justify-content: center;
                width: 100%;
                margin-bottom: 5px;
            }
        }
        

        &__title {
            text-transform: uppercase;
            font-size: 25px;
            font-weight: bold;
            color: var(--title-background-default);

            @media all and (max-width: 780px) {
                font-size: 20px;
             }

        }

        &__logo,
        &__theme {
            margin-right: 10px;
            cursor: pointer;
        }
    }
}

.btn__promt{
    border: none;
    background-color: transparent;
    width: fit-content;
    border-bottom: 1px solid var(--subtitle-background-default);
    cursor: pointer;
    color: var(--subtitle-background-default);
}