.modalDay_info {
    width: 100%; 
    // height: 100px;
    // background-color: #eaeaea;
    // margin: 20px;
    // padding-bottom: 20px;
    // margin-bottom: 20px;

    // &__wrapper {
        display: flex;
        justify-content: space-between;

        @media all and (max-width: 600px) {
            flex-direction: column;
            // align-items: center;
          }

          
    // }
}